<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="EStoreBaseURL" value="http://106.15.238.71:7413/e-store" />
    <add key="RegisterEndPoint" value="/authentication/register" />
    <add key="TokenEndPoint" value="/authentication/token" />
    <add key="CartCreateEndPoint" value="/cart/create" />
    <add key="CartDeleteEndPoint" value="/cart/delete" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>