<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="EStoreBaseURL" value="http://106.15.238.71:7413/e-store" />
    <add key="RegisterEndPoint" value="/authentication/register" />
    <add key="TokenEndPoint" value="/authentication/token" />
    <add key="CartCreateEndPoint" value="/cart/create" />
    <add key="CartDeleteEndPoint" value="/cart/delete" />
    <add key="CartAddItemEndPoint" value="/cart/addItem" />
    <add key="CartInfoEndPoint" value="/cart/info" />
    <add key="CartDeleteItemEndPoint" value="/cart/deleteItem" />
    <add key="CartDeleteEndPoint" value="/cart/delete" />
    <add key="AccountDeleteEndPoint" value="/authentication/delete" />
    <add key="ProductInfoEndPoint" value="/sales-data/items" />
    <add key="TransactionNumberEndPoint" value="/transaction/number" />
    <add key="TransactionSaveEndPoint" value="/transaction/save" />

    <add key="UserAccountRegister" value="1" />
    <add key="UserLogin" value="2" />
    <add key="UserAccountDelete" value="3" />
    <add key="CartCreateDelete" value="4" />
    <add key="CartInfoView" value="5" />
    <add key="CartItemEdit" value="6" />
    <add key="ProductListView" value="7" />
    <add key="TransactionNumberGet" value="8" />
    <add key="TransactionSave" value="9" />
    
  </appSettings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>